
<div class="container">
<div class="row">
    <div class="col-md-4">
        <app-todo-item-form></app-todo-item-form>
    </div>
    <div class="col-md-8">
        <table class="table">
            <thead class="table-light">
                <tr>
                    <th>Item Name</th>
                    <th>Item Description</th>
                    <th>Item Status</th>
                    <th>Last Updated</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let pd of service.list">
                    <td>{{ pd.itemName }}</td>
                    <td>{{ pd.itemDescription }}</td>
                    <td>{{ pd.itemStatus }}</td>
                    <td>{{ pd.lastUpdated | date:'short' }} </td>

                    <td class="action-wrapper">
                        <i class="fa fa-trash-o fa-lg text-danger" (click)="onDelete(pd.itemId)"></i>
                        <i class="fa fa-pencil-square-o fa-lg text-success" (click)="onEdit(pd)"></i>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
</div>